@font-face {
    font-family: 'Cattedrale [RUS by penka220]';
    src: url(../../font/CattedraleRUSbypenka220.woff2) format('woff2'),
        url(../../font/CattedraleRUSbypenka220.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

