body
  background-image: url(../../img/header.webp)
  background-size: cover
  background-repeat: no-repeat
  background-position: top center
  background-attachment: fixed

.container
  max-width: 1200px
  margin: auto
  padding: 0 20px